{
  "$schema": "https://json.schemastore.org/eslintrc",
  "env": {
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "extends": [
    "standard"
  ],
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["warn", "single"],
    "comma-dangle": ["warn", "always-multiline"]
  }
}
